extends layout

block content
    title=title
    .container
        h1= title
        .row
            .col-md-8
                form#formAddUser(name="adduser",method="post",action="/users/edituser",role="form")
                    .form-group
                        label(for="inputUsername"). Username
                        input#inputUserName(type="text", placeholder="NPM", name="npm",class="form-control",size="30",value="#{userlist.username}")
                    .form-group
                        label(for="inputName"). Name
                        input#inputName(type="text", placeholder="NAMA", name="nama",class="form-control",size="30",value="#{userlist.nama}")
                    
                    input#inputHideId(type="hidden", name="_id",value="#{userlist._id}")
                    button#btnSubmit(type="submit",class="btn btn-submit") submit
            .col-md-4
                .panel.panel-default
                    .panel-heading
                        h3.panel-title.
                            Navigasi
                    .panel-body
                        ul.list-group
                            li.list-group-item
                                a(href="/users/changepassword/#{userlist._id}").
                                    Change Password
                            li.list-group-item
                                a(href="/users/remove/#{userlist._id}").
                                    Remove User      
                